* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

#HEADER {
    background-image: url(image/BG-1.svg);
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-position: center;
}

.navbar h6 {
    padding-left: 90px;
    color: white;
}
.nav-item a {
    padding-right: 80px;
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    color: white;
}

.button-sign-up {
    background-color: rgba(255, 58, 58, 1);
    padding: 10px 30px;
    border-style: none;
    color: white;
}
.burgur-menu{
    display: none;
    position: absolute;
    right: 60px;
    color: white;
}
.heading {
    padding: 200px 0px 100px 90px;
    color: white;
}

.heading h2 {
    margin-right: 63%;
}

.heading p {
    padding: 10px 68% 0 0;
}

.header-footer {
    display: flex;
    justify-content: end;
}

.header-footer a {
    padding-top: 50px;
    padding-right: 20px;
}

/* ///////////////BRAND////////// */
#brand-page {
    min-height: 10vh;
    padding: 70px 0px 50px 100px;
}
#brand-page a img{
    padding:20px 40px;
}

/* //////////////////////////SERVICE PAGE ////////////////// */
#SERVICE-PAGE {
    overflow: hidden;
    min-height: 100vh;
    background-color: #E5E5E5;
    /* padding: 70px 500px 30px 100px; */
}

#SERVICE-PAGE h3 {
    font-weight: 500;
}
.SERVICE-PAGE-header{
    padding:50px 0 10px 150px;
}
.SERVICE-PAGE-header p{
    padding-right:33%;
}
.content{
    padding:10px 30px 80px 30px;
}

.solarimg-1{
    background-image: url(image/solar-1.svg);
    background-size: cover;
    min-height: 60vh;
    color: white;
}
.solarimg-2{
    background-image: url(image/solar-2.svg);
    background-size: cover;
    min-height: 60vh;
    color: white;
}
.solarimg-3{
    background-image: url(image/solar-3.svg);
    background-size: cover;
    min-height: 60vh;
    color: white;
    background-color:rgb(0, 0, 39);
}
.solarimg-4{
    background-image: url(image/solar-4.svg);
    background-size: cover;
    min-height: 60vh;
    color: white;
}
.solarimg-5{
    background-image: url(image/solar-5.svg);
    background-size: cover;
    min-height: 60vh;
    color: white;
}
.solarimg-6{
    background-image: url(image/solar-6.svg);
    background-size: cover;
    min-height: 60vh;
    color: white;
}
.solar-1{
    padding-top:60%;
    padding-left: 20px;
}
.solar-1 button{
    background-color:rgba(255, 58, 58, 1);
    padding: 5px 15px;
    border-style: none;
     color: white;
     font-weight: 600;
}
.solar-1 button:hover{
    background-color: white;
    color: black;
    box-shadow:1px 1px 0px 1px #fff;
    transition: 0.8s;
}
/* ////////////////////ABOUT US/////////////////////////////// */
#ABOUT-US {
    min-height: 100vh;
}
.about-us{
    background-image: url(image/abouts-us-img.svg);
    min-height: 50vh;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.about-us-a{
    text-align: center;
}
.about-us-a h3{ 
    padding-bottom: 20px;
}
.about-us-b p{
    padding-right:20%;
    font-size: 1.1rem;
    letter-spacing: 0.7px;
}
#ABOUT-US .content{
    padding-top:80px;
}
#ABOUT-US h3{
    font-weight: 600;
    font-size: 2.2rem;
}
#ABOUT-US button{
    background-color: rgba(255, 58, 58, 1);
    padding: 8px 12px;
    border-style: none;
    color: white;
}
/* <!-- //////////////////////////////////////////BENEFITS/////////////////////////////////// --> */
#BENEFITS{
     min-height: 10vh;
     background-color: rgba(38, 38, 38, 1);
     color: white;
     padding-top: 50px ;

}
 .BENEFITS .content h2 {
    text-align: center;
 }
 .BENEFITS .content p {
    padding: 10px 130px 20px 150px;
    line-height: 2;
 }
 .BENEFITS .content span {
    color:rgba(255, 58, 58, 1);
 }
 .BENEFITS .content .appstore {
    padding-left: 140px;
 }
 .BENEFITS .content .appstore .appstore-apple {
    padding-left: 20px;
 }

.benefit-img{
    text-align: center;
}
.benefit-img img{
    min-width: 45%;
    animation: benefit-img 3s ease;
}
@keyframes benefit-img{
 from{
     opacity: 0;
     margin-top: 300px;
     margin-bottom: 100px;
 }
 to{
     opacity: 100%;
     margin-top: 300px !important;
     /* ignored */
     margin-bottom: 50px;
 }
}

/* /////////////////////////////////////////PRICING////////////////////////// */
#PRICING{
    min-height: 100vh;
    background-color: #fff;
}
.Pricing{
    padding: 100px 100px 50px 250px;
}
.p-content-1{
    background-color: rgba(38, 38, 38, 1);
    color: white;
    /* width: 100vh; */
}
.p-content-1 button{
    background-color: rgba(255, 58, 58, 1);
    padding: 8px 12px;
    border-style: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px
}
.p-content-1 h3{
    font-size: 2.2rem;
    margin-top: 50px;
    padding-right: 10px;
}
.p-content-1 p{
    margin-top: 50px;
    padding-right: 40px;
}
.p-content-1 span{
font-weight: 600;
}
.p-content-1 .p-1-img{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
}
.p-content-2{
    background-color:rgba(255, 58, 58, 1);
    color: white;
}
.p-content-2 h3{
    font-size: 2.2rem;
    margin-top: 50px;
    padding-right: 10px;
}
.p-content-2 p{
    margin-top: 95px;
    padding-right: 40px;
}
.p-content-2 button{
    background-color:rgba(38, 38, 38, 1) ;
    padding: 8px 12px;
    border-style: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px
}
.p-content-2 .p-2-img{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
}
/* /////////////////////////////////REGISTER////////////////////////////// */
#RESGISTER{
    min-height: 100vh;
    overflow: hidden;
}
.resgister-1{
    padding: 10px 50px 0 150px; 
}
.resgister-1 h3{
    font-weight: 600;
    font-size: 2.3rem;
    padding: 30px 0;
}
.resgister-1 p{
padding-right: 30px;
padding-bottom:5px ;
}
.resgister-1 button {
margin-bottom: 20px;
}
.resgiste-btn-1{
    background-color: rgba(255, 58, 58, 1);
    padding: 12px 48px;
    border-style: none;
    color: white;
}
.resgiste-btn-2{
    border-color: black;
    padding: 10px 45px;
    color: black;
    background:#fff;
}
.resgister-2 img{
    min-height: 130%;
}
/* ///////////////////////////////////////////////////////////////////////////FOOTER////////////////////////////////////////////////////////////////////////// */
#FOOTER{
  min-height: 50vh;
  background-color:rgba(38, 38, 38, 1) ;
  color: rgb(255, 255, 255);
}
#FOOTER h6{
    padding: 50px 0 0px 40%;
    font-size: 1rem;
}
#FOOTER h1{
    text-align: center;
    font-size: 4rem;
}
#FOOTER p{
    padding-top: 15px;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
}
#FOOTER ul{
    display:flex;
    list-style: none;
    margin-left: 100px;
    padding-left: 18%;
}
#FOOTER li{
padding: 25px 50px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////MEDIA QUERY///////////////////////////////////////////////////////////////////////////////// */
@media only  screen and (max-width:1200px){
    .BENEFITS .content p {
        padding: 10px 90px 20px 90px;
        line-height: 2;
     }
     .BENEFITS .content .appstore {
        padding-left: 100px;
     }
     .BENEFITS .content .appstore .appstore-apple {
        padding-left: 10px;
     }
     .burgur-menu{
        display: block;
     }
     .nav-item{   
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: black;
        top: 0;
        bottom: 0;
        text-align: center;
        width: 300px;
        padding: 20px 0;
     }
     .nav-item a{
        padding: 50px 10px;
     }
     /* ////// */
     .Pricing{
        padding: 100px 100px 50px 280px;
    }
    /* /// */
    #FOOTER p{
        padding-right: 25%;
        padding-left: 25%;
    }
    #FOOTER ul{
        display:flex;
        list-style: none;
        margin-left: 30px;
        padding-left: 13%;
    }
    /* //// */
    .heading h2 {
        margin-right: 53%;
    }
    .heading p {
        padding: 10px 58% 0 0;
    }
    .header-footer a {
        padding-top: 20px;
        padding-right: 20px;
    }
    
}
@media only screen and (max-width:988px){

    .heading,.header-footer{
        text-align: center;
        padding-top: -60px ;
    }
    .heading h2 {
        margin-right: 20%;
    }
    .heading p {
        padding: 10px 20% 0 0;
    }
    
.header-footer {
    display: flex;
    justify-content: center;
}

.header-footer a {
    padding-top: 50px;
    padding-right: 20px;
}
    /* /////////// */
    #FOOTER ul{
        margin-left: 40px;
        padding-left: 8%;
    }
    #FOOTER li{
        padding: 25px 35px;
    }
    /* /////////////// */
    .resgister-1{

        position: relative;
        left: 30%;
        padding: 10px 50px 0 0px; 
    }
}
@media only screen and (max-width:620px){
    #FOOTER ul{
        margin-left: px;
        padding-left: 5%;
        position: absolute;
        right: 1px;
    }
    #FOOTER h1{
        font-size: 3rem;
    }
    #FOOTER p{
        padding-right: 15%;
        padding-left: 15%;
    }
    #FOOTER li{
        /* background-color: aqua; */
        padding: 25px 2px;
    }
    .heading h2 {
        font-size: 2rem;
        margin-right: 15%;
        margin-top: -20%;
    }
    .heading p {
        padding: 10px 10% 0 0;
    }
    .header-footer a {
        padding-top: 10px;
        padding-right: 20px;
    }
}
@media only screen and (max-width:780px){
    /* /////// */
    #FOOTER ul{
        margin-left: 40px;
        padding-left: 6%;
    }
    #FOOTER li{
        padding: 25px 30px;
    }
    /* ///// */
    .resgister-1{

        position: relative;
        left: 6%;
        padding: 10px 50px 0 0px; 
    }
}
@media only  screen and (max-width:1080px){
    .resgister-1{
        
        padding: 10px 50px 0 50px; 
    }
    /* //////// */
    .Pricing{
        padding: 100px 50px 50px 200px;
    }
    /* //////// */
    #SERVICE-PAGE h3 {
        font-weight: 500;
        text-align: start;
    }
    .SERVICE-PAGE-header{
        text-align: start;
        padding:50px 0 0px 50px;
    }
    .SERVICE-PAGE-header p{
        padding-right:13%;
    }
    /* /////////////////////////////////// */
    .about-us-a{
        text-align: center;
    }
    .about-us-a h3{ 
        /* padding-bottom:20px; */
        text-align: center;
        margin-left:50px ;
    }
    .about-us-b p{
        text-align: center;
        padding:0%;
        /* font-size: 1.3rem; */
        letter-spacing: 0.7px;
    }
    #ABOUT-US .content{
        padding-top:40px;
    }
    #ABOUT-US h3{
        font-weight: 600;
        font-size: 2rem;
    }
    #ABOUT-US button{
        background-color: rgba(255, 58, 58, 1);
        padding: 6px 5px;
        border-style: none;
        color: white;
        margin-bottom: 15px;
        margin-left:50px ;
    }

/* //////// */
    .BENEFITS .content h2 {
        text-align: center;
     }
     .BENEFITS .content p {
        padding: 10px 25% 20px 25%;
        line-height: 2;
     }
     .BENEFITS .content .appstore {
        padding-left: 25%;
     }
    
}
@media only  screen and (max-width:720px){
    #SERVICE-PAGE h3 {
        text-align: center;
        padding-right:0%;
    }
    .SERVICE-PAGE-header{
        text-align: center;
        padding:50px 0 0px 0px;
    }
    .SERVICE-PAGE-header p{
        padding-right:0%;
    }
    .BENEFITS .content p {
        padding: 10px 90px 20px 90px;
        line-height: 2;
     }
     .BENEFITS .content .appstore {
        padding-left: 10%;
     }
     /* /////// */
     .Pricing{
        padding: 100px 50px 50px 50px;
    }
    /* ///////////// */
}
